<!DOCTYPE html>
<html lang="en" id="root" class="small-size">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="images/icons/favicon-32.png" sizes="32x32" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{site.name}}</title>
  {{#each src.styles}}
  <link rel="stylesheet" type="text/css" href="{{this}}">
  {{/each}}
</head>
